.q1 {
  color: #2196f3;
}

.k1 {
  color: black;
}

.q2 {
  color: #2196f3;
}

.k2 {
  color: white;
}

.sty-one:hover {
  color: #2196f3;
}

.portf-twee:hover {
  color: #2196f3;
}

.con-drie:hover {
  color: #2196f3;
}

.inf-one:hover {
  color: #2196f3;
}

.nom-twee:hover {
  color: #2196f3;
}

.fot-bg {
  background-color: rgb(47, 48, 58);
}

.col-one {
  color: white;
}

.col-twee {
  color: white;
}

.col-drie {
  color: white;
}

.button-one {
  background-color: #2196f3;
}

.button-one {
  color: white;
}
